<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GASTOS APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Hola Diego, tu saldo actual es {{saldo}}</h1>
    <h3>Movimientos del mes:</h3>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Selecciona el mes">
          <ion-select-option value="apples">Octubre</ion-select-option>
          <ion-select-option value="oranges">Noviembre</ion-select-option>
          <ion-select-option value="bananas">Diciembre</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      
      
      
      <ion-item *ngFor="let mov of movimientos;">
        <ion-icon name="add-outline" *ngIf="mov.amount > 0"></ion-icon>
        <ion-icon name="remove-outline" *ngIf="mov.amount < 0"></ion-icon>
        <ion-label>{{mov.amount}} - {{mov.description}} - {{mov.fecha}}</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="remove-outline"></ion-icon>
        <ion-label>$100 - concepto - 2022-11-21</ion-label>
      </ion-item> -->
      
    </ion-list>

    <ion-button expand="block" [routerLink]="['/new-move']">Agregar Movimiento</ion-button>
  </div>
</ion-content>
